:host {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.container {
    margin: auto;
    margin-top: 5rem;

    & section {
        & div {
            margin-bottom: 3rem;
        }
    }
}


h1 {
    font-size: xx-large;
}


