<div class="container">
    <div class="status">
        <div class="status-header">
            Remaining questions
        </div>
        <div class="status-data">
            20
        </div>
    </div>
    <div class="status">
        <div class="status-header">
            Players
        </div>
        <div class="status-data">
            7
        </div>
    </div>
    <div class="status">
        <div class="status-header">
            Role
        </div>
        <div class="status-data">
            Master
        </div>
    </div>
</div>