.container {
    display: flex;
    flex-direction: column;

    & > div {
        margin: auto;
        margin-bottom: 2rem;
    }
}

.status-header {
    font-size: x-large;
    padding-bottom: 1rem;
}

.status-data {
    font-size: xx-large;
}